.heading_of_page{
  background-color: #cc00ff;
  border-radius: 2px;
  text-align: center;
  color: white;
  text-shadow: 5px 5px 10px black;
  height: 150px;
  overflow: hidden;
  font-family: Copperplate;
  font-size: 40px;
}
.rest_part{
  background-color: #ffccff;
  overflow: hidden;
  height:800px;
}
.search_bar{
  justify-content: center;
  align-items: center;
}